/****************************************************************** test de code N°1 **************************************************************/

*{
    margin:0px;
    padding:0px;
    border:0px;
    font-family:'Darker Grotesque', sans-serif;
}

body{
    background-color:rgb(0, 0, 0);
}


/************************************************************************ NAV **************************************************************/

nav {
    width: 200px;
    background-color: var(--couleur-fond);
    background-color: var(--couleur-fond);
    z-index: 20;
    position:fixed;
    top: 15;
    left: 50%;
    transform: translateX(-50%);
}

nav ul{
    list-style-type:none;
}

nav a{
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    color: white;
    padding:17.5px;
    font-size:15px;
    font-weight: bold;
}

nav > ul li:hover .sous{
    display:block;
}

nav .sous{
    display:none;
    background-color: rgb(0, 0, 0);
    position:absolute;
    width:100%;
    z-index:10;
    text-transform:uppercase;
}

nav .sous a{
    padding:10px;
}

nav .sous a:hover{
    transition:0.5s;
}
nav .sous li:nth-child(1) a:hover{
    background-color:#6cd625;
}
nav .sous li:nth-child(2) a:hover{
    background-color:rgb(216, 20, 128)
}
nav .sous li:nth-child(3) a:hover{
    background-color:#ca5c56;
}
nav .sous li:nth-child(4) a:hover{
    background-color:#ad4040;
}
nav .sous li:nth-child(5) a:hover{
    background-color:#bd2a82;
}
nav .sous li:nth-child(6) a:hover{
    background-color:#977a53;
}
nav .sous li:nth-child(7) a:hover{
    background-color:#000000;
    color:#722b2b;
}
nav .sous li:nth-child(8) a:hover{
    background-color:#cfcfcf;
}



/*****************************************************************SECTION*******************************************************************/


section{
    display:none;
    position:fixed;
    top:50px;
    bottom:50px;
    left:0px;
    right:0px;
    overflow:auto;  
}

section:target{
    display:block;
    padding:12px;
    font-size:12px;
    color:#FFFFFF;
}

section h1{
    position:fixed;
    top:0px;
    right:0px;
    left:0px;
    height:50px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#232323;
    text-transform:uppercase;
    font-size:20px;
    font-weight:lighter;
}

section:nth-child(2) h1{
    background-color:#6cd625;
}

section:nth-child(3) h1{
    background-color: rgb(114,30,209);
}

section:nth-child(5) h1{
    background-color:rgb(38, 97, 136)
}
section:nth-child(6) h1{
    background-color:#722b2b;
}
section:nth-child(7) h1{
    background-color:#84476c;
}
section:nth-child(8) h1{
    background-color:#c29f71;
}




/************************************************************* FOOTER **************************************************************/


footer {
    position:fixed;
    width:100%;
    bottom:0px;
    left:0px;
    font-size:17.5px;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
}

footer a{
    text-decoration:none;
    margin-right:10px;
    margin-left:-10px;
    display:flex;
    align-items:center;
}

.arrow-color-left span, .arrow-color-right span{
    opacity:0;
    transition: 0.5s;
}

.arrow-color-left:hover span, .arrow-color-right:hover span{
    opacity:1;
}

.arrow-color-left, .arrow-color-right{
    color:#FFFFFF;
    padding-left:15px;
    padding-right:15px;
}



/************************************************************* ACCUEIL **************************************************************/


.contenu-accueil img{
    height:250px;
    width:250px;
    padding:75px;
}

.contenu-accueil .position-image{
    display:flex;
    justify-content:center;
    align-items:center;
}

.contenu-accueil p{
    display:flex;
    justify-content:center;
    font-size:20px;
}


/************************************************************* A-PROPOS **************************************************************/


.contenu-a-propos .position-image{
    display:flex;
    justify-content:center;
    align-items:center;
}

.contenu-a-propos p{
    font-size:20px;
    text-align:center;
}


/************************************************************ COMPETENCES ******************************************************************/

.domaine {
    margin-bottom: 20px; /* Espacement entre les domaines */
}

.domaine-titre {
    text-align: center; /* Centrer le titre du domaine */
    margin-bottom: 30px; /* Espacement entre le titre de domaine et les compétences */
}

/* Style pour chaque compétence */
.domaine .progress .competence {
    display: flex;
    justify-content: start; /* Centre les éléments horizontalement */
    align-items: center;
    margin-bottom: 50px;
    position: relative;
    max-width: 650px;
    border: 3px solid black;
    background-color: rgb(184, 184, 184);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}    

/* Style pour les titres de compétence */
.domaine .progress .competence .titre {
    position: absolute;
    top: -25px;
    left: 0;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    margin: -5px 0;
}

/* Style pour les barres de progression */
.domaine .progress .competence .barre {
    height: 20px;
    width: 100%; /* Ajuster la largeur */
    background: rgb(0, 247, 195);
    background: linear-gradient(90deg, rgba(0, 247, 195, 0.8631827731092436) 3%, rgba(54, 224, 125, 1) 24%, rgba(25, 145, 57, 1) 100%);
    border-radius: 5px;
}


/***************************************************************** EXPERIENCE *************************************************************/

.contenu-experience{
    padding-top:25px;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-wrap:wrap;
}

#experience .contenu-experience p {
    font-size:24px;
    text-align:center;
    color:rgb(0, 0, 0);
    font-weight: 600;
}

/************************************************************* FORMATION **************************************************************/

.contenu-formation{
    padding-top:110px;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-wrap:wrap;
}

.contenu-formation p {
    font-size: 30px; /* Modifiez la taille de la police selon vos préférences */
}

/****FIN***/